<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/edit-form.css">
  <link rel="stylesheet" href="/stylesheets/footer.css" TYPE="text/css" MEDIA=screen>

  <link rel="stylesheet" href="/stylesheets/nav.css" TYPE="text/css" MEDIA=screen>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
    <script>
      
      window.addEventListener("load", function(){
       let form = document.getElementById("form")
       let errorList = document.getElementById("errorList")
       let prodName = document.getElementById("name")
       let prodPrice = document.getElementById("price")
       let prodDescription = document.getElementById("description")
       
       form.addEventListener("submit", function(e){
       let errors = []
       
       if (prodName.value.length < 1){
         errors.push("Debes introducir un nombre para el producto")
       }
       
       let prodPriceValue = prodPrice.value
       let containsMoney = prodPriceValue.includes("$")

       if (prodPrice.value.length < 1){
         errors.push("Debes introducir un precio para el producto")
       }
       if (prodPriceValue){
         errors.push("No debes incluir el signo $ en el precio")
       }
       if (prodDescription.value.length < 1){
         errors.push("Debes introducir una descripción para el producto")
       }

       if (errors.length > 0) {
       e.preventDefault()
       for (let i = 0; i < errors.length; i++){
         errorList.innerHTML += "<li>" + errors[i] + "<li>"
       }
       errorList.style.display = "flex"
     }
       console.log(errors)
       })
      })
   </script>
</head>

<body>
 
<main>
 <div class="form-cont">
   <div>
     <div>
       <h2 class="menu-title">Formulario de creación de productos</h2>
       <% if (typeof errors != "undefined") {%>
         <ul>
           <% for (var i =  0; i < errors.length; i++) {%>
             <li style="color: white;"> <%=errors[i].msg%> </li>
           <% } %> 
         </ul>
       <% } %>
        

       <ul id="errorList" style="display: none; color: white;">
         
       </ul>
   
     </div>
   </div>
   <div>
     <form action="/menu" method="POST" enctype="multipart/form-data" id="form">
          <div id="entry-cont">
            <div class="couple">
              <div class="data-entry">
                <label for="name" class="form-label">Nombre del producto:</label>
                <input type="text" id="name" name="name" placeholder="<%=resultado.drink%>" class="form-input">
              </div>
              <div class="data-entry">
                <label for="price" class="form-label">Precio del producto:</label>
                <input type="text" id="price" name="price" placeholder="<%=resultado.price%>" class="form-input">
                <input type="number" id="idproduct" name="idproduct" value="<%= resultado.id%>" style="display: none;">
              </div>
            </div>
            <div class="couple">
              <div class="data-entry">
                <label for="description" class="form-label">Descipción:</label>
                <textarea name="description" id="description" class="form-input"></textarea>
              </div>
              <div class="data-entry">
                <label for="category" class="form-label">Categoría:</label>
                <select name="category" id="category" class="form-input">
                  <option value="clasicos">Clasicos</option>
                  <option value="nuestros">Nuestros</option>
                </select>
              </div>
              <div class="data-entry">
                <label for="flavour" class="form-label">Sabor:</label>
                <select name="flavour" id="flavour" class="form-input">
                  <option value="dulce">Dulce</option>
                  <option value="citrico">Cítrico</option>
                  <option value="aperitivo">Aperitivo</option>
    
                </select>
              </div>
              <div class="data-entry">
                <label for="fashion" class="form-label">Fashion:</label>
                <select name="fashion" id="fashion" class="form-input">
                  <option value="seco">Seco</option>
                  <option value="frutal">Frutal</option>
                  <option value="suave">Suave</option>
                  <option value="intenso">Intenso</option>
                </select>
              </div>
            </div>
            <div class="couple">
              <div class="data-entry">
                <input type="file" id="img" class="form-input" name="img">
              </div>
            </div>
            <div id="save-prod">
              <button type="submit" class="save-btn">Guardar producto</button>

            </div>
        </form>
        <div style="width: 100%;">
          <form action="/menu/<%=resultado.id%>/?_method=delete" method="POST">
            <button type="submit" class="del-btn">Eliminar Producto</button>
            
          </form>
        </div>

      </div>

    </div>

    </div>
  </main>

</body>

</html>