<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/product.css" type="text/css" media=screen>
  <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css" media=screen>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <title>Rusty Nail</title>
</head>
<header>
  <div>

    <%- include("../partials/nav") %>

  </div>
</header>

<h2 style="text-align: center; margin-top: 10%; font-size: 60px;"><%=resultado.name%></h2>

</section>

<article class="art-image-2"><img src="../<%=resultado.img%>" class="art-image">
  <section style="border-top: 5px solid; border-bottom: 5px solid; width: 95%; margin: auto;">
      <h3 style="font-size: 40px; text-align: center;"> Detalles del cocktail</h3>
      <p style="font-size: 4vh; text-align: center;padding: 15px;border-bottom: 2px solid;"> <%= resultado.description %></p>

      <section class="contenedor-details">

        <button style="background-color: white; height: 6vh; width: 31%; font-size: 30px; margin: 10px;"> Precio: $<%=resultado.price %></button>
        <article class="precio-details-2">   Delivery a todo CABA</article>
        <p id="detail">Beber con moderación. Prohibida su venta a menores de 18 años. </p>
      </section>
    </section>

  <section class="agregar-c">

    <a href="/carrito"> Agregar a la bolsa de pedidos</a>

  </section>


  <section class="product-rel">

    <div id="prodrel"> Productos Relacionados </div>

    <img src="../images/icon-flecha.png" alt="icon.arrow" id="arrow">

  </section>

  <section class="imag-relacion">
    <article id="text"> <img src="../images/cosmopolitan.jpg" style="height: 90%; width: 90%; margin:5% 5%"></article>
    <div id="text-2"> Cosmopolitan $690
      <section class="agregar-c-rel">
        <a href="/carrito"> Agregar a la bolsa de pedidos</a>
      </section>
    </div>
    <article id="text"> <img src="../images/Early-summer.jpg" style="height: 90%; width: 90%; margin:5% 5%"> </article>
    <div id="text-2"> Early Summer $790
      <section class="agregar-c-rel">
        <a href="/carrito"> Agregar a la bolsa de pedidos</a>
      </section>
    </div>
    <article id="text"> <img src="../images/early-grey.jpg" style="height: 90%; width: 90%; margin:5% 5%"></article>
    <div id="text-2"> Early Grey $700
      <section class="agregar-c-rel">
        <a href="/carrito"> Agregar a la bolsa de pedidos</a>
      </section>
    </div>

  </section>

 

  <div>
    <%- include('../partials/footer') %>
  </div>

</html>
