<!DOCTYPE html>
<html lang="en">

<head>
  <script>
    window.addEventListener("load", function(){

      let valor = document.getElementById("quantity")
      let plus = document.getElementById("plus")
      let realQuantity = document.getElementById("realQuantity")
      let form = document.getElementById("form")
      let minus = document.getElementById("minus")
      let error = document.getElementById("error")
      console.log(valor.value)
      plus.addEventListener("click", function(){
        if (valor.value < 30){
        valor.value++
        realQuantity.value = valor.value
        }
      })
      minus.addEventListener("click", function(){
        if (valor.value > 0){
        valor.value--
        realQuantity.value = valor.value

        }
      })
      form.addEventListener("submit", function(e){
        if (valor.value.length == 0 || valor.value == 0) {
        e.preventDefault()
        error.style.display = "block"
        }
      })
    })
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/carrito.css" type="text/css" media=screen>
  <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css" media=screen>

  <link rel="stylesheet" href="/stylesheets/product.css" type="text/css" media=screen>
  <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css" media=screen>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
  <title>Rusty Nail</title>
</head>
<header>
  <div>

    <%- include("../partials/nav") %>

  </div>
</header>
<body>
  <tb class="caja-compra">
    <div class="foto">
      <img src="/images/<%=resultado.image%>" id="img">
      <div class=tag>
        <p class="trago"><%=resultado.drink%> </p>
        <div class="counter">
          <p class="s">$ <%=resultado.unit_price%></p>
          <div class="counter-n">
            <p id="minus">-</p>
            <input type="number" id="quantity" name="quantity" min="0" placeholder="0">
            <p id="plus">+</p>
          </div>

          <i class="fa fa-shopping-cart cart" aria-hidden="true"></i>
        </div>
      </div>
    </div>



    <div class="nombre-trago">

     
      <div class="descripcion"><p>DESCRIPCION:</p> <p><%= resultado.description  -%></p> <br>
      </div>
    
      <form action="/cart/<%= resultado.id %> " method="POST" id="form" style="width: 104%;" novalidate>
        <input type="number" id="realQuantity" name="realQuantity" min="0" placeholder="0" style="display: none;">
        <div id="btn-cont">
          <p id="error" style="display: none;">¡Tenes que aclarar cuantos tragos!</p>
        <button type="submit" id="btn">
        
        <p style="font-family: sans-serif;">¡AGREGALO A TU PEDIDO!</p>
      </button>
    </div>
      </form>

      <div class="contador-unidades" style="color: gainsboro;">
      <p class="contador" style="color: gainsboro;" id="quantity"><%= resultado.quantity -%> </p>
    </div>
  </div>

   </tb>

   <%- include("../partials/footer") %>
  
  </body>  

</html>
